<!-- tv -->
<% if current_page?(tv_path) %>
  <%= link_to tv_path do %>
    <h6 class="category active-filter" id="tv">TV</h6>
  <% end %>
<% else %>
  <%= link_to tv_path do %>
    <h6 class="category" id="tv">TV</h6>
  <% end %>
<% end %>
<!-- live -->
<% if current_page?(live_path) %>
  <%= link_to live_path do %>
    <h6 class="category active-filter" id="live">LIVE</h6>
  <% end %>
<% else %>
  <%= link_to live_path do %>
    <h6 class="category" id="live">LIVE</h6>
  <% end %>
<% end %>
<!-- event -->
<% if current_page?(event_path) %>
  <%= link_to event_path do %>
    <h6 class="category active-filter" id="evenement">EVENT</h6>
  <% end %>
<% else %>
  <%= link_to event_path do %>
    <h6 class="category" id="evenement">EVENT</h6>
  <% end %>
<% end %>
<!-- fashion -->
<% if current_page?(fashion_path) %>
  <%= link_to fashion_path do %>
    <h6 class="category active-filter" id="fashion">FASHION</h6>
  <% end %>
<% else %>
  <%= link_to fashion_path do %>
    <h6 class="category" id="fashion">FASHION</h6>
  <% end %>
<% end %>
