<% if current_page?(root_path) %>
  <div class="navbar-mlight bg-transparent d-flex align-items-center fixed-top">
    <!-- first element of flexbox -->
    <div class="flex-item">
      <div class="logo logoHome d-flex align-items-center animated invisible">
        <%= link_to root_path do %>
          <%= image_tag  "logo_jaune.png"%>
        <% end %>
      </div>
    </div>

    <!-- second element of flexbox -->
    <div class="flex-item filters">
      <div class="filter-category d-inline-flex justify-content-center animated invisible">
        <%= render 'shared/filter' %>
      </div>
    </div>

    <!-- third element of flexbox -->
    <div class="flex-item">
      <%= render 'shared/menu' %>
    </div>
  </div>

<% elsif current_page?(contact_path) || current_page?(about_path) %>
    <div class="navbar-mlight bg-black d-flex align-items-center fixed-top">
    <!-- first element of flexbox -->
    <div class="flex-item">
      <div class="logo d-flex align-items-center">
        <%= link_to root_path do %>
          <%= image_tag  "logo_jaune.png"%>
        <% end %>
      </div>
    </div>

    <!-- second element of flexbox -->
    <div class="flex-item filters">
      <div class="filter-category d-inline-flex justify-content-center animated invisible">
       <%= render 'shared/filter' %>
      </div>
    </div>

    <!-- third element of flexbox -->
    <div class="flex-item">
      <%= render 'shared/menu' %>
    </div>
  </div>

<% else %>
  <div class="navbar-mlight bg-black d-flex align-items-center fixed-top">
    <!-- first element of flexbox -->
    <div class="flex-item">
      <div class="logo d-flex align-items-center">
        <%= link_to root_path do %>
          <%= image_tag  "logo_jaune.png"%>
        <% end %>
      </div>
      <!-- <div class="logo d-flex align-items-center">
        <%= link_to "M-Light", root_path %>
      </div> -->
    </div>

    <!-- second element of flexbox -->
    <div class="flex-item filters">
      <div class="filter-category d-inline-flex justify-content-center">
       <%= render 'shared/filter' %>
      </div>
    </div>

    <!-- third element of flexbox -->
    <div class="flex-item">
      <%= render 'shared/menu' %>
    </div>
  </div>
<% end %>





