<% if current_page?(root_path) %>
  <div class="navbar-mlight bg-transparent d-flex align-items-center fixed-top">
    <!-- first element of flexbox -->
    <div class="flex-item">
      <div class="logo logoHome d-flex align-items-center animated invisible">
        <%= link_to "M-Light", root_path %>
      </div>
    </div>

    <!-- second element of flexbox -->
    <div class="flex-item">
      <div class="filter-category d-inline-flex justify-content-center animated invisible">
        <%= render 'shared/filter' %>
      </div>
    </div>

    <!-- third element of flexbox -->
    <div class="flex-item">
      <%= render 'shared/menu' %>
    </div>
  </div>

<% else %>
    <div class="navbar-mlight bg-black d-flex align-items-center fixed-top">
    <!-- first element of flexbox -->
    <div class="flex-item">
      <div class="logo d-flex align-items-center">
        <%= link_to "M-Light", root_path %>
      </div>
    </div>

    <!-- second element of flexbox -->
    <div class="flex-item">
      <div class="filter-category d-inline-flex justify-content-center animated invisible">
       <%= render 'shared/filter' %>
      </div>
    </div>

    <!-- third element of flexbox -->
    <div class="flex-item">
      <%= render 'shared/menu' %>
    </div>
  </div>



<% end %>





