
<div class="container contact-form">
  <div class="d-flex justify-content-center">
    <div class="contact-list">
      <h2>Keep in touch</h2>
    </div>
    <div class="form-contact">
      <%= simple_form_for @contact  do |f| %>
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-4"> -->
            <div class="form-group">
              <i class="fas fa-user placeholder"></i>
              <%= f.input :name, placeholder:"your name", class: "form-control"%>
            </div>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-4"> -->
            <div class="form-group">
              <i class="fas fa-envelope placeholder"></i>
              <%= f.input :email, required: true, placeholder: "your email", class: "form-control" %>
            </div>
          <!-- </div> -->
        <!-- </div> -->
        <div class="form-group" >
          <!-- <i class="fas fa-envelope"></i> -->
          <i class="fas fa-pen placeholder"></i>
          <%= f.input :message, placeholder: "your message", class: "form-control" %>
        </div>
        <div>
          <%= f.submit "SEND", class:"btn-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
