
<div class="container contact-form">
  <div class="d-flex justify-content-center">
    <div class="contact-list">
      <h2>Keep in touch</h2>
      <div class="d-flex align-items-center mb-3">
        <i class="fas fa-map-marker-alt pr-3"></i>
        <p>43 RUE DES SAULES CLOUET 93100 MONTREUIL</p>
      </div>
      <div class="d-flex align-items-center mb-3">
        <i class="fas fa-phone-alt pr-3"></i>
        <p>+33 1 48 34 87 99</p>
      </div>
      <div class="d-flex align-items-center mb-3">
        <i class="fas fa-fax pr-3"></i>
        <p>+33 1 76 50 71 14</p>
      </div>
      <div class="d-flex align-items-center mb-3">
        <i class="fas fa-envelope pr-3"></i>
        <p>maximeraffin@gmail.com</p>
      </div>
    </div>
    <div class="form-contact">
      <%= simple_form_for @contact  do |f| %>
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-4"> -->
            <div class="form-group">
              <i class="fas fa-user placeholder"></i>
              <%= f.input :name, placeholder:"your name", class: "form-control"%>
            </div>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-4"> -->
            <div class="form-group">
              <i class="fas fa-envelope placeholder"></i>
              <%= f.input :email, required: true, placeholder: "your email", class: "form-control" %>
            </div>
          <!-- </div> -->
        <!-- </div> -->
        <div class="form-group" >
          <!-- <i class="fas fa-envelope"></i> -->
          <i class="fas fa-pen placeholder"></i>
          <%= f.input :message, placeholder: "your message", class: "form-control" %>
        </div>
        <div>
          <%= f.submit "SEND", class:"btn-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
