<div class="container">
  <% if @fashions %>
    <div class="project-zone result fashions">
      <div class="cancel-filter">
        <%= link_to root_path(anchor: 'all-projects') do %>
          <i class="far fa-times-circle cancel d-none" id="cancel-fashions"></i>
        <% end %>
      </div>
      <div class="cards">
        <% @fashions.each do |project| %>
          <% if project.photos.attached? %>
            <div class="entire-card">
              <%= link_to project_path(project) do %>
                <div class="card-project draw" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path project.photos.first.key %>');">
                  <p class="project-name"><%= project.name %></p>
                </div>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} do %>
                  <i class="far fa-times-circle delete-project"></i>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <% if project.illustrations.any? %>
              <div class="entire-card">
                <%= link_to project_path(project) do %>
                  <div class="card-project draw" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path project.illustrations.first.photos.first.key %>');">
                    <p class="project-name"><%= project.name %></p>
                  </div>
                <% end %>
                <% if user_signed_in? %>
                  <%= link_to project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} do %>
                    <i class="far fa-times-circle delete-project"></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="entire-card">
                <%= link_to project_path(project) do %>
                  <div class="card-project draw" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1544981037-82284dcf0a0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
                    <p class="project-name"><%= project.name %></p>
                  </div>
                <% end %>
                <% if user_signed_in? %>
                  <%= link_to project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} do %>
                    <i class="far fa-times-circle delete-project"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
