<%= render 'shared/banner' %>

<!-- <h1>All Projects</h1> -->
<%#= link_to "ajouter un projet", new_project_path %>

<!-- search zone -->
<%#= form_tag root_path, method: :get do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a project"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>
<!-- end search zone -->
<div class="container">
  <% if @projects %>
    <div class="cards">
      <% @projects.each do |project| %>
        <% if project.photos.attached? %>
          <%= link_to project_path(project) do %>
            <div class="card-project draw meet" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path project.photos.first.key %>');">
              <p><%= project.name %></p>
            </div>
          <% end %>
        <% else %>
          <%= link_to project_path(project) do %>
            <div class="card-project draw meet" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path project.illustrations.first.photos.first.key %>');">
              <p><%= project.name %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %> <!-- end of if @projects -->
</div> <!-- end of container -->


            <%# if user_signed_in? %>
              <%#= link_to "modifier", edit_project_path(project)  %>
              <%#= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %>
            <%# end %>



<!-- result of search -->

  <%# else %>
<!-- project by category -->
    <!-- <div>
      <h6>TV</h6>
      <ul>
        <%# @tvs.each do |project| %>
          <li><%#= link_to "#{project.name}", project_path(project) %> ---
              <%# if user_signed_in? %>
                <%#= link_to "modifier", edit_project_path(project)  %> ---
                <%#= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
              <%# end %>
        <%# end %>
      </ul>
    </div>

    <div>
      <h6>Mode</h6>
      <ul>
        <%# @fashions.each do |project| %>
          <li><%#= link_to "#{project.name}", project_path(project) %> ---
            <%# if user_signed_in? %>
              <%#= link_to "modifier", edit_project_path(project)  %> ---
              <%#= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <%# end %>
        <%# end %>
      </ul>
    </div>

    <div>
      <h6>Events</h6>
      <ul>
        <%# @events.each do |project| %>
          <li><%#= link_to "#{project.name}", project_path(project) %> ---
            <%# if user_signed_in? %>
              <%#= link_to "modifier", edit_project_path(project)  %> ---
              <%#= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <%# end %>
        <%# end %>
      </ul>
    </div>

    <div>
      <h6>Live</h6>
      <ul>
        <%# @lives.each do |project| %>
          <li><%#= link_to "#{project.name}", project_path(project) %> ---
            <%# if user_signed_in? %>
              <%#= link_to "modifier", edit_project_path(project)  %> ---
              <%#= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <%# end %>
        <%# end %>
      </ul>
    </div>
 -->

<!-- essai pour scroll horizontal -->
    <!-- <div class="container">
      <div class="scrolling-wrapper">
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
      </div>
    </div> -->
<!-- ----------------------------  -->
