<h1>All Projects</h1>

<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a project"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "ajouter un projet", new_project_path %>
<br>
<br>

<!-- result of search -->
  <% if @projects %>
    <ul>
      <% @projects.each do |project| %>
        <li><%= link_to "#{project.name}", project_path(project) %> ---
            <% if user_signed_in? %>
              <%= link_to "modifier", edit_project_path(project)  %> ---
              <%= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <% end %>
      <% end %>
    </ul>
  <% else %>
<!-- project by category -->
    <div>
      <h6>TV</h6>
      <ul>
        <% @tvs.each do |project| %>
          <li><%= link_to "#{project.name}", project_path(project) %> ---
              <% if user_signed_in? %>
                <%= link_to "modifier", edit_project_path(project)  %> ---
                <%= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
              <% end %>
        <% end %>
      </ul>
    </div>

    <div>
      <h6>Mode</h6>
      <ul>
        <% @modes.each do |project| %>
          <li><%= link_to "#{project.name}", project_path(project) %> ---
            <% if user_signed_in? %>
              <%= link_to "modifier", edit_project_path(project)  %> ---
              <%= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div>
      <h6>Events</h6>
      <ul>
        <% @events.each do |project| %>
          <li><%= link_to "#{project.name}", project_path(project) %> ---
            <% if user_signed_in? %>
              <%= link_to "modifier", edit_project_path(project)  %> ---
              <%= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div>
      <h6>Live</h6>
      <ul>
        <% @lives.each do |project| %>
          <li><%= link_to "#{project.name}", project_path(project) %> ---
            <% if user_signed_in? %>
              <%= link_to "modifier", edit_project_path(project)  %> ---
              <%= link_to "supprimer", project_path(project), method: :delete, data: {confirm: "certain de vouloir supprimer ce projet?"} %></li>
            <% end %>
        <% end %>
      </ul>
    </div>

  <% end %> <!-- end of if @projects -->

<div class="container">
  <div class="scrolling-wrapper">
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
  </div>
</div>
