
<div class="container form">
  <h1 class="text-center">Nouveau projet</h1>

  <%= simple_form_for @project do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :name, class:"form-control"%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :category, collection: Project::CATEGORY, class:"form-control"%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :date, class:"form-control"%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :location, placeholder: "city", class:"form-control"%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :description, class:"form-control"%>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
      </div>
    </div>
    <div class="submit">
      <%= f.submit "valider", class:"btn btn-white" %>
    </div>
  <% end %>
</div>
