<div class="container show-project">
  <div class="infos d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= @project.name %></h5>
      <p class="mb-0 mx-2"> - </p>
      <p class="mb-0 thin"><%= @project.date %></p>
      <p class="mb-0 mx-2"> - </p>
      <p class="mb-0 thin"><%= @project.location %></p>
    </div>
    <div>
      <p class="mb-0 thin"><%= @project.description %></p>
    </div>
  </div>

  <% if @project.photos.attached? %>
    <% @project.photos.each do |photo| %>
      <div class="show-image">
        <%= cl_image_tag photo.key %>
        <% if user_signed_in? %>
          <%= link_to delete_photo_attachment_project_path(@project, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
            <i class="far fa-times-circle delete-photo"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @project.illustrations %>
    <% @project.illustrations.each do |illustration| %>
      <% illustration.photos.each do |photo| %>
        <div class="show-image">
          <%= cl_image_tag photo.key %>
          <% if user_signed_in? %>
            <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
              <i class="far fa-times-circle delete-photo"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div> <!-- fin du container -->



<%= link_to "modifier", edit_project_path(@project) %>
<br>

<h3>Ajouter des photos</h3>
<%= simple_form_for [@project, @illustration] do |f| %>
  <%= f.input :photos, as: :file, input_html: {multiple: true}  %>
  <%= f.submit "Ajouter" %>
<% end %>
<br>
<br>

