<div class="container show-project">

  <div class="infos d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= @project.name %></h5>
      <p class="mb-0 mx-2"> - </p>
      <p class="mb-0 thin"><%= @project.date %></p>
      <p class="mb-0 mx-2"> - </p>
      <p class="mb-0 thin"><%= @project.location %></p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="mb-0 thin"><%= @project.description %></p>
      <% if user_signed_in? %>
        <%= link_to edit_project_path(@project) do %>
          <i class="far fa-edit ml-3"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @project.photos.attached? %>
    <% @project.photos.each do |photo| %>
      <div class="show-image">
        <%= cl_image_tag photo.key %>
        <% if user_signed_in? %>
          <%= link_to delete_photo_attachment_project_path(@project, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
            <i class="far fa-times-circle delete-photo"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @project.illustrations %>
    <% @project.illustrations.each do |illustration| %>
      <% illustration.photos.each do |photo| %>
        <div class="show-image">
          <%= cl_image_tag photo.key %>
          <% if user_signed_in? %>
            <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
              <i class="far fa-times-circle delete-photo"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <div class="text-center btn-add-photos">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-3">
    <div class="add-photos">
      <h5 class="text-center">Add photo(s)</h5>
      <%= simple_form_for [@project, @illustration] do |f| %>
        <%= f.input :photos, as: :file, input_html: {multiple: true}, label: false %>
        <%= f.submit "confirm", class:"btn-white" %>
      <% end %>
    </div>
  </div>

</div> <!-- fin du container -->




