<div class="container show-project">

  <div class="sticky">
    <div class="infos d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0"><%= @project.name %></h5>
        <p class="mb-0 mx-2"> - </p>
        <p class="mb-0 thin"><%= @project.date %></p>
        <p class="mb-0 mx-2"> - </p>
        <p class="mb-0 thin"><%= @project.location %></p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0 thin"><%= @project.description %></p>
        <% if user_signed_in? %>
          <%= link_to edit_project_path(@project) do %>
            <i class="far fa-edit ml-3"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @project.photos.attached? %>
    <% @project.photos.each do |photo| %>
      <div class="show-image">
        <%= cl_image_tag photo.key %>
        <% if user_signed_in? %>
          <%= link_to delete_photo_attachment_project_path(@project, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
            <i class="far fa-times-circle delete-photo"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @project.illustrations %>
    <% @project.illustrations.each do |illustration| %>
      <% illustration.photos.each do |photo| %>
        <div class="show-image">
          <%= cl_image_tag photo.key %>
          <% if user_signed_in? %>
            <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
              <i class="far fa-times-circle delete-photo"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <div class="text-center">
      <i class="fas fa-plus" id="btn-add-photos"></i>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-3">
    <div class="add-photos animated fadeIn">
      <h5 class="text-center">Add photo(s)</h5>
      <%= simple_form_for [@project, @illustration] do |f| %>
        <%= f.input :photos, as: :file, input_html: {multiple: true}, label: false %>
        <%= f.submit "confirm", class:"btn-white" %>
      <% end %>
    </div>
  </div>

<!-- test -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <% if @project.photos.attached? %>
      <!-- first image of the project -->
      <div class="carousel-item active">
        <%= cl_image_tag @project.photos.first.key %>
        <% if user_signed_in? %>
              <%= link_to delete_photo_attachment_project_path(@project, @project.photos.first), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
                <i class="far fa-times-circle delete-photo"></i>
              <% end %>
            <% end %>
      </div>
      <!-- other image of the project less the first one -->
      <% @project.photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <div class="show-image">
            <%= cl_image_tag photo.key %>
            <% if user_signed_in? %>
              <%= link_to delete_photo_attachment_project_path(@project, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
                <i class="far fa-times-circle delete-photo"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- all other images within the possible illustrations -->
      <% if @project.illustrations %>
        <% @project.illustrations.each do |illustration| %>
          <% illustration.photos.each do |photo| %>
            <div class="carousel-item">
              <div class="show-image">
                <%= cl_image_tag photo.key %>
                <% if user_signed_in? %>
                  <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
                    <i class="far fa-times-circle delete-photo"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <% else %>
    <!-- if there is no photos attached to the project, it means it was delete and replace by possible illustrations -->

      <div class="carousel-item active">
        <!-- test to check the first illustrations with photos -->
        <% @project.illustrations.each do |illustration| %>
          <% if illustration.photos.attached? %>
            <%= cl_image_tag illustration.photos.first.key %>
              <% if user_signed_in? %>
                <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, illustration.photos.first), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
                  <i class="far fa-times-circle delete-photo"></i>
                <% end %>
              <% end %>
            <% break %>
          <% end %>
        <% end %>
      </div>

      <% @project.illustrations.each do |illustration| %>
          <% illustration.photos.each do |photo| %>
            <div class="carousel-item">
              <div class="show-image">
                <%= cl_image_tag photo.key %>
                <% if user_signed_in? %>
                  <%= link_to delete_photo_attachment_project_illustration_path(@project, illustration, photo), method: :delete, data: { confirm: 'Veux-tu vraiment supprimer la photo ?' } do %>
                    <i class="far fa-times-circle delete-photo"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

    <% end %>

<!-- 5.times do |n| puts n += 1 end -->

    <% if @project.photos.attached? %>

  <% end %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- fin du test -->
</div> <!-- fin du container -->

